.Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.Button > h5 {
  font-size: 14px;
}

.Button > p {
  font-size: 12px;
}

.Button > .MuiSvgIcon-root {
  font-size: 18px;
}
