.header {
  position: sticky;
  display: flex;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header__left {
  display: flex;
  margin-left: 10px;
}

.header__left > .MuiSvgIcon-root {
  margin-top: 5px;
  font-size: 60px;
}

.header__search {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  height: 20px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
  width: 250px;
}

.header__right {
  display: flex;
  margin-right: 30px;
}
