/* Greyed out background for sign in or register form */
.popout__form {
  position: fixed;
  display: flex;
  top: 0px;
  z-index: 888;
  background-color: rgba(34, 27, 27, 0.267);
  width: 100%;
  height: 900px;
}
/* Form Exit CSS */
.popout__form > form > .MuiSvgIcon-root {
  display: flex;
  margin-left: 80%;
  margin-top: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
/* Sign In CSS*/
.signin__form {
  position: fixed;
  display: flex;
  top: 80px;
  z-index: 999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid whitesmoke;
  background-color: white;
  width: 30%;
  height: 300px;
}
/* Sign Out CSS */
.register__form {
  position: fixed;
  display: flex;
  top: 80px;
  z-index: 999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid whitesmoke;
  background-color: white;
  width: 30%;
  height: 500px;
}

form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
}
/* Used for hiding elements */
.hidden {
  display: none;
}
/* Body for login screen */
.login {
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  background-color: whitesmoke;
  padding-bottom: 200px;
}

.login__left {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  width: 50%;
}

.splash__display {
  margin-left: 20%;
  color: #0074b1;
  width: 55%;
}

.splash__display > h1 {
  font-weight: 300;
  font-size: 56px;
}
/* Right side of page */

.login__right {
  width: 50%;
}
.login__right > img {
  object-fit: contain;
  width: 65%;
  margin-left: 10%;
  margin-top: -5%;
}

/* Header CSS */
.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
  color: #0a66c2;
  margin-left: 10%;
}

.header__left > .MuiSvgIcon-root {
  margin-top: 7px;
  font-size: 45px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > button {
  background: none;
  font-size: 16px;
  margin-right: 10px;
  width: 84px;
  height: 32px;
  cursor: pointer;
  box-sizing: border-box;
}

.button__joinNow {
  color: grey;
  font-weight: 600;
  border: none;
}

.button__signIn {
  color: #0a66c2;
  font-weight: 600;
  border: 1px solid #0a66c2;
  border-radius: 24px;
}

.button__joinNow:hover {
  color: black;
  background-color: whitesmoke;
  border-radius: 10%;
}

.button__signIn:hover {
  border: 2px solid #0a66c2;
  background-color: #e6f2ff;
}
